.post__img{
    width: 90%;
    height: 30%;
    background-image:url("https://wallpapers.com/images/featured/a5u9zq0a0ymy2dug.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
}

.title{
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}